<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418317520995-thp71fdvnqfm3vp36bqibdop6qhlaqju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418317520995-thp71fdvnqfm3vp36bqibdop6qhlaqju</string>
	<key>API_KEY</key>
	<string>AIzaSyAmhpF7FLloKQM-NAqQPmIUKkYjSNmPq-w</string>
	<key>GCM_SENDER_ID</key>
	<string>418317520995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.badsha.twitterc</string>
	<key>PROJECT_ID</key>
	<string>twitter-c-c113f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-c-c113f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418317520995:ios:42e1ef369aa45419abe856</string>
</dict>
</plist>